.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
   padding:7px 15px;
  width: auto;
}
.glyphicon.glyphicon-menu-hamburger {
    font-size: 25px;
}

/*.navbar {
    position: relative;
}*/
.navbar .navbar-brand {
     position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}


