.navbar-brand {
  padding: 10px;
}
@media screen and (min-width:768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 42%;
        display: block;
        width:12%;
        height:10%;
        top:0.01%;
        text-align: center;
    }
    .navbar-brand-centered-logo2 {
        display: none;
    }
     /*.navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }*/
    
}

@media screen and (max-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 85%;
    }
    .navbar-brand-centered-logo1 {
        display: none;
    }
    .navbar-brand-centered-logo2 {
        width:12%;
        height:11%;
        top:1%;
        display: block;
    }

}


/*.glyphicon.glyphicon-menu-hamburger {
    font-size: 25px;
}*/

/*.navbar {
    position: relative;
}*/
.navbar .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}




/*Peter added*/

    body {
        font-family: "Lato", sans-serif;
        transition: background-color .5s;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 120%;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover, .offcanvas a:focus {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }

/*User Profile styles*/
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: white;
    border: 2px solid lightgray; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
